Multiple Linear Regression
ความถดถอยเชิงพหุ คือการอธิบายหาความสัมพันธ์ระหว่างเหตุและผล โดยกำหนดให้มีเหตุ (x) มากกว่าหนึ่งสาเหตุขึ้นไป และมีผล (y) หนึ่งผล โดยเขียนเป็นสมการได้ดังนี้ y = a + b1x1 + b2x2 + b3x3 + ... bnxn + e

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
# %matplotlib inline
# %config InlineBackend.figure_format = 'retina'

In [2]:
print(f'pandas  version: {pd.__version__}')
print(f'numpy   version: {np.__version__}')
print(f'seaborn version: {sns.__version__}')

pandas  version: 2.0.3
numpy   version: 1.24.3
seaborn version: 0.12.2

In [3]:
df = pd.read_csv('kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [4]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [5]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [7]:
sm = df.loc[:,['sqft_lot15','sqft_living15','long','lat','zipcode','yr_built','sqft_above','grade','condition','floors','sqft_lot','sqft_living','bathrooms','bedrooms','price']]
sm

,sqft_lot15,sqft_living15,long,lat,zipcode,yr_built,sqft_above,grade,condition,floors,sqft_lot,sqft_living,bathrooms,bedrooms,price
0,5650,1340,-122.257,47.5112,98178,1955,1180,7,3,1.0,5650,1180,1.00,3,221900.0
1,7639,1690,-122.319,47.7210,98125,1951,2170,7,3,2.0,7242,2570,2.25,3,538000.0
2,8062,2720,-122.233,47.7379,98028,1933,770,6,3,1.0,10000,770,1.00,2,180000.0
3,5000,1360,-122.393,47.5208,98136,1965,1050,7,5,1.0,5000,1960,3.00,4,604000.0
4,7503,1800,-122.045,47.6168,98074,1987,1680,8,3,1.0,8080,1680,2.00,3,510000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,1509,1530,-122.346,47.6993,98103,2009,1530,8,3,3.0,1131,1530,2.50,3,360000.0
21609,7200,1830,-122.362,47.5107,98146,2014,2310,8,3,2.0,5813,2310,2.50,4,400000.0
21610,2007,1020,-122.299,47.5944,98144,2009,1020,7,3,2.0,1350,1020,0.75,2,402101.0
21611,1287,1410,-122.069,47.5345,98027,2004,1600,8,3,2.0,2388,1600,2.50,3,400000.0
21612,1357,1020,-122.299,47.5941,98144,2008,1020,7,3,2.0,1076,1020,0.75,2,325000.0

In [8]:
X = sm.iloc[:,:-1].values 
y = sm.iloc[:,-1].values 

print('ข้อมูล X:\n', X, 'ข้อมูล y:\n', y)

ข้อมูล X:
 [[ 5.65000e+03  1.34000e+03 -1.22257e+02 ...  1.18000e+03  1.00000e+00
   3.00000e+00]
 [ 7.63900e+03  1.69000e+03 -1.22319e+02 ...  2.57000e+03  2.25000e+00
   3.00000e+00]
 [ 8.06200e+03  2.72000e+03 -1.22233e+02 ...  7.70000e+02  1.00000e+00
   2.00000e+00]
 ...
 [ 2.00700e+03  1.02000e+03 -1.22299e+02 ...  1.02000e+03  7.50000e-01
   2.00000e+00]
 [ 1.28700e+03  1.41000e+03 -1.22069e+02 ...  1.60000e+03  2.50000e+00
   3.00000e+00]
 [ 1.35700e+03  1.02000e+03 -1.22299e+02 ...  1.02000e+03  7.50000e-01
   2.00000e+00]] ข้อมูล y:
 [221900. 538000. 180000. ... 402101. 400000. 325000.]

In [9]:
X

array([[ 5.65000e+03,  1.34000e+03, -1.22257e+02, ...,  1.18000e+03,
         1.00000e+00,  3.00000e+00],
       [ 7.63900e+03,  1.69000e+03, -1.22319e+02, ...,  2.57000e+03,
         2.25000e+00,  3.00000e+00],
       [ 8.06200e+03,  2.72000e+03, -1.22233e+02, ...,  7.70000e+02,
         1.00000e+00,  2.00000e+00],
       ...,
       [ 2.00700e+03,  1.02000e+03, -1.22299e+02, ...,  1.02000e+03,
         7.50000e-01,  2.00000e+00],
       [ 1.28700e+03,  1.41000e+03, -1.22069e+02, ...,  1.60000e+03,
         2.50000e+00,  3.00000e+00],
       [ 1.35700e+03,  1.02000e+03, -1.22299e+02, ...,  1.02000e+03,
         7.50000e-01,  2.00000e+00]])

In [10]:
y

array([221900., 538000., 180000., ..., 402101., 400000., 325000.])

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=48)

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

model = LinearRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

In [15]:
y_predict.reshape(-1, 1)

array([[ 478123.89817368],
       [ 289110.70484417],
       [1044175.31036532],
       ...,
       [ 757109.33933671],
       [1324576.98051907],
       [ 507479.46436151]])

In [14]:
sm

,sqft_lot15,sqft_living15,long,lat,zipcode,yr_built,sqft_above,grade,condition,floors,sqft_lot,sqft_living,bathrooms,bedrooms,price
0,5650,1340,-122.257,47.5112,98178,1955,1180,7,3,1.0,5650,1180,1.00,3,221900.0
1,7639,1690,-122.319,47.7210,98125,1951,2170,7,3,2.0,7242,2570,2.25,3,538000.0
2,8062,2720,-122.233,47.7379,98028,1933,770,6,3,1.0,10000,770,1.00,2,180000.0
3,5000,1360,-122.393,47.5208,98136,1965,1050,7,5,1.0,5000,1960,3.00,4,604000.0
4,7503,1800,-122.045,47.6168,98074,1987,1680,8,3,1.0,8080,1680,2.00,3,510000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,1509,1530,-122.346,47.6993,98103,2009,1530,8,3,3.0,1131,1530,2.50,3,360000.0
21609,7200,1830,-122.362,47.5107,98146,2014,2310,8,3,2.0,5813,2310,2.50,4,400000.0
21610,2007,1020,-122.299,47.5944,98144,2009,1020,7,3,2.0,1350,1020,0.75,2,402101.0
21611,1287,1410,-122.069,47.5345,98027,2004,1600,8,3,2.0,2388,1600,2.50,3,400000.0
21612,1357,1020,-122.299,47.5941,98144,2008,1020,7,3,2.0,1076,1020,0.75,2,325000.0

In [16]:
#การพยากรณ์ราคาบ้าน
pred = model.predict([[7639,1690,-122.319,47.7210,98125,1951,2170,7,3,2.0,7242,2570,2.25,3]]).round(2)
print('การพยากรณ์ราคาบ้าน: ', pred)

การพยากรณ์ราคาบ้าน:  [728687.72]

In [18]:
sqft_lot15 = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
sqft_living15 = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
long = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
lat = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
zipcode	= float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
yr_built = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
sqft_above = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
grade = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
condition = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
floors = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
sqft_lot = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
sqft_living = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
bathrooms = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))
bedrooms = float(input("กรอกข้อมูลเพื่อพยากรณ์ราคาบ้าน: "))

In [24]:
result = model.predict ([[sqft_lot15, sqft_living15, long, lat, zipcode, yr_built, sqft_above, grade, condition, floors, sqft_lot, sqft_living, bathrooms, bedrooms]])
print("การพยากรณ์ราคาบ้าน:", result.round(2), 'บาท')

การพยากรณ์ราคาบ้าน: [1.49718403e+08] บาท

การประเมินโมเดล Regression มี 4 แบบ ดังนี้ 
1) Mean Absolute Error (MAE) การหาผลรวมระยะคลาดเคลื่อน คือหาว่าโมเดลมีความแม่นยำในการพยากรณ์มากน้อยเพียงใด ถ้า MAE มีค่าน้อยแสดงว่าคลาดเคลื่อนน้อย หมายความว่าโมเดลมีความแม่นยำสูง แต่ถ้าค่า MAE มาก แสดงว่าโมเดลมีความคลาดเคลื่อนมาก คือโมเดลมีความแม่นยำน้อย 
2) Mean Squared Error (MSE) การหาผลรวมระยะคลาดเคลื่อนด้วยวิธียกกำลังสอง การแปลผลเหมือนกับข้อ 1
3) Root Mean Squared Error (RMSE) การหาผลรวมระยะคลาดเคลื่อนด้วยวิธีการถอดรูทรากที่สอง การแปลผลเหมือนกับข้อ 1
4) Coefficients of Determination การหาค่าสัมประสิทธิ์การตัดสินใจ หรือ R square (R2) มีค่าระหว่าง 0 - 1 ถ้าค่าเข้าใกล้ 1 หรือเท่ากับ 1 แสดงว่าโมเดลมีความแม่นยำสูง แต่ถ้าค่าเข้าใกล้ 0 แสดงว่าโมเดลมีความแม่นยำต่ำ

In [25]:
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

print('ผลรวมระยะคลาดเคลื่อนเท่ากับ', mean_absolute_error(y_test, y_predict).round(2))
print('ผลรวมระยะคลาดเคลื่อนด้วยวิธียกกำลังสองเท่ากับ', mean_squared_error(y_test, y_predict).round(2))
print('ผลรวมระยะคลาดเคลื่อนด้วยวิธีการถอดรูทรากที่สองเท่ากับ', np.sqrt(mean_squared_error(y_test, y_predict)).round(2))
print('การหาค่าสัมประสิทธิ์การตัดสินใจ หรือ R square (R2) เท่ากับ', model.score(X_train, y_train).round(2))
#print('การหาค่าสัมประสิทธิ์การตัดสินใจ หรือ R square (R2) เท่ากับ', model.score(X, y).round(2))

ผลรวมระยะคลาดเคลื่อนเท่ากับ 136087.54
ผลรวมระยะคลาดเคลื่อนด้วยวิธียกกำลังสองเท่ากับ 43842839824.48
ผลรวมระยะคลาดเคลื่อนด้วยวิธีการถอดรูทรากที่สองเท่ากับ 209386.82
การหาค่าสัมประสิทธิ์การตัดสินใจ หรือ R square (R2) เท่ากับ 0.66

การบันทึกโมเดล เพื่อนำไปใช้งาน หรือนำไปพัฒนาระบบดิจิทัลด้วย Python Django

In [26]:
#https://www.youtube.com/watch?v=rNhVBv0i4os
# วิธีที่ 1

# from joblib import dump

# dump(model, 'model.joblib')

In [27]:
# # วิธีที่ 2
# from pandas import read_csv

# #Pickle model 
# pd.to_pickle(model, 'model.pickle')

# #Unpickle model 
# model = pd.read_pickle('model.pickle')

In [28]:
#conda install -c anaconda scikit-learn
#pip install -U scikit-learn
#from sklearn.externals import joblib
import numpy as np
import joblib

joblib.dump(model, 'kchouse_model.pkl')
model = joblib.load('kchouse_model.pkl')

In [29]:
# # save the model to disk
# import joblib 
# filename = 'model.sav'
# joblib.dump(model, filename)

การนำข้อมูลที่ฝึกสอนแล้วมารัน OLS Regression Model

In [30]:
import statsmodels.api as sm
# create a fitted model & print the summary
lm = sm.OLS(y_train, X_train).fit()
print(lm.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.890
Model:                            OLS   Adj. R-squared (uncentered):              0.890
Method:                 Least Squares   F-statistic:                              8762.
Date:                Fri, 08 Sep 2023   Prob (F-statistic):                        0.00
Time:                        11:36:52   Log-Likelihood:                     -2.0730e+05
No. Observations:               15129   AIC:                                  4.146e+05
Df Residuals:                   15115   BIC:                                  4.147e+05
Df Model:                          14
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.2212      0.098     -2.268      0.023      -0.412      -0.030
x2            34.6652      4.345      7.978      0.000      26.148      43.182
x3         -2.416e+05   1.69e+04    -14.254      0.000   -2.75e+05   -2.08e+05
x4          5.526e+05   1.37e+04     40.439      0.000    5.26e+05    5.79e+05
x5          -514.7935     23.063    -22.322      0.000    -559.999    -469.588
x6         -3071.4130     81.748    -37.572      0.000   -3231.649   -2911.177
x7             8.3634      5.484      1.525      0.127      -2.386      19.112
x8          1.009e+05   2759.773     36.563      0.000    9.55e+04    1.06e+05
x9          2.312e+04   2951.903      7.833      0.000    1.73e+04    2.89e+04
x10         9206.8524   4575.981      2.012      0.044     237.376    1.82e+04
x11            0.0788      0.065      1.209      0.227      -0.049       0.207
x12          184.1292      5.538     33.248      0.000     173.274     194.984
x13         4.981e+04   4168.987     11.947      0.000    4.16e+04     5.8e+04
x14        -4.715e+04   2376.313    -19.840      0.000   -5.18e+04   -4.25e+04
==============================================================================
Omnibus:                    14767.855   Durbin-Watson:                   2.023
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1925720.770
Skew:                           4.422   Prob(JB):                         0.00
Kurtosis:                      57.559   Cond. No.                     9.74e+05
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 9.74e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

Statsmodels: Multiple Linear regression
การรัน Multiple linear regression เป็นข้อมูลที่ไม่ต้องผ่านการฝึกสอนเหมือนในส่วนแรก

In [31]:
ds = pd.read_csv('kc_house_data.csv')
ds

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [32]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [33]:
# formula: response ~ predictor1 + predictor2
model = smf.ols(formula='price ~ bedrooms+bathrooms+sqft_living+sqft_lot+floors+waterfront+view+grade+sqft_above+sqft_basement+yr_built+yr_renovated+zipcode+lat+long+sqft_living15+sqft_lot15', data=ds).fit()

In [34]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.698
Model:                            OLS   Adj. R-squared:                  0.698
Method:                 Least Squares   F-statistic:                     3120.
Date:                Fri, 08 Sep 2023   Prob (F-statistic):               0.00
Time:                        11:37:02   Log-Likelihood:            -2.9467e+05
No. Observations:               21613   AIC:                         5.894e+05
Df Residuals:                   21596   BIC:                         5.895e+05
Df Model:                          16
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      1.174e+07   2.91e+06      4.041      0.000    6.05e+06    1.74e+07
bedrooms      -3.502e+04   1896.121    -18.467      0.000   -3.87e+04   -3.13e+04
bathrooms      4.359e+04   3255.749     13.388      0.000    3.72e+04       5e+04
sqft_living     111.1466      2.275     48.849      0.000     106.687     115.606
sqft_lot          0.1185      0.048      2.465      0.014       0.024       0.213
floors         4407.4973   3600.471      1.224      0.221   -2649.691    1.15e+04
waterfront      5.85e+05   1.74e+04     33.601      0.000    5.51e+05    6.19e+05
view           5.326e+04   2145.959     24.817      0.000     4.9e+04    5.75e+04
grade          9.653e+04   2158.256     44.725      0.000    9.23e+04    1.01e+05
sqft_above       69.1594      2.255     30.665      0.000      64.739      73.580
sqft_basement    41.9813      2.646     15.867      0.000      36.795      47.167
yr_built      -2882.9372     68.982    -41.792      0.000   -3018.148   -2747.727
yr_renovated     12.7421      3.611      3.528      0.000       5.664      19.820
zipcode        -623.8393     32.873    -18.977      0.000    -688.273    -559.405
lat            5.964e+05   1.08e+04     55.477      0.000    5.75e+05    6.18e+05
long           -2.14e+05   1.32e+04    -16.250      0.000    -2.4e+05   -1.88e+05
sqft_living15    20.1604      3.455      5.835      0.000      13.388      26.932
sqft_lot15       -0.3684      0.073     -5.015      0.000      -0.512      -0.224
==============================================================================
Omnibus:                    18177.750   Durbin-Watson:                   1.991
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1791158.531
Skew:                           3.509   Prob(JB):                         0.00
Kurtosis:                      47.042   Cond. No.                     2.06e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 5.17e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

การแปลผล
1) ถ้าค่า p (P>|t|) < 0.05 แสดงว่ามีความสัมพันธ์กัน คือคือตัวแปรต้น (X หรือเหตุ) เป็นสาเหตุ/ส่งผลต่อตัวแปรตาม (Y หรือผล) เช่น กินจุ (เหตุ) ทำให้อ้วน (ผล) ขณะเดียวกัน อ้วน (เหตุ) ทำให้เป็นโรคความดัน เบาหวาน (ผล) เป็นต้น
2) ถ้าค่า p (P>|t|) > 0.05 แสดงว่าไม่มีความสัมพันธ์กัน คือคือตัวแปรต้น (X หรือเหตุ) ไม่เป็นสาเหตุ/ไม่ส่งผลต่อตัวแปรตาม (Y หรือผล) เช่น กินจุ (เหตุ) แต่ก็ไม่ทำให้อ้วน (ผล) ขณะเดียวกัน อ้วน (เหตุ) ไม่ทำให้เป็นโรคความดัน เบาหวาน (ผล) เป็นต้น
3) ค่าอย่างมีนัยสำคัญทางสถิติที่..... ถ้าค่า p < 0.05 แต่ > 0.01 อย่างมีนัยสำคัญทางสถิติที่ 0.05, ถ้าค่า p < 0.01 แต่ > 0.001 อย่างมีนัยสำคัญทางสถิติที่ 0.01, ถ้าค่า p < 0.001 อย่างมีนัยสำคัญทางสถิติที่ 0.000

### แบบจำลองในการศึกษา 
### Y = a + b1x1 + b2x2 + b3x3 + b4x4 + b5x5 + e
### กำหนดให้
#### a = ค่าคงที่ความถดถอยพหุ
#### b1 ... b5 = ค่าสัมประสิทธิถดถอยของตัวแปรอิสระ (ตัวแปรต้น)
#### Y = รายจ่ายสาธารณะ (% GDP)
#### x1 = จีดีพีต่อหัว
#### x2 = สัดส่วนประชากรที่มีความยากจน
#### x3 = ภาษีสินค้าและบริการ
#### x4 = ดัชนีคอรัปชัน
#### x5 = ภาษีรายได้
#### e = ค่าความคลาดเคลื่อน

## การอธิบายแปลผล เอาเฉพาะตัวที่มีนัยสำคัญทางสถิติ คือค่า p < 0.05 เท่านั้นมาอธิบายแปลผล

### รายจ่ายสาธารณะ = 4.8051 + -0.0003(x1) + -0.1191(x2) + -0.0673(x3) + 0.1542(x4) + 0.9430(x5) + 4.974 คือพยากรณ์ผิดพลาดจากข้อมูลจริงคลาดเคลื่อนออกไป 4.974

### ผลการศึกษาพบว่า จีดีพีต่อหัว (x1) มีความสัมพันธ์ในทิศทางลบกับ รายจ่ายสาธารณะ (Y) ที่ระดับนัยสำคัญทางสถิติ 0.000 โดยมีค่าสัมประสิทธิ์จีดีพีต่อหัว เท่ากับ -0.0003 หมายความว่า ถ้าจีดีพีต่อหัว เพิ่มขึ้น 1 หน่วย ส่งผลทำให้รายจ่ายสาธารณะ ลดลง 0.0003 หน่วย 

### ผลการศึกษาพบว่า  ดัชนีคอรัปชัน (x4) มีความสัมพันธ์ในทิศทางบวกกับ รายจ่ายสาธารณะ (Y) ที่ระดับนัยสำคัญทางสถิติ 0.004 โดยมีค่าสัมประสิทธิ์ดัชนีคอรัปชัน เท่ากับ 0.1542 หมายความว่า ดัชนีคอรัปชัน เพิ่มขึ้น 1 หน่วย ส่งผลทำให้รายจ่ายสาธารณะ เพิ่มขึ้น 0.1542 หน่วย 


### ผลการศึกษาพบว่า ภาษีรายได้ (x5) มีความสัมพันธ์ในทิศทางบวกกับ รายจ่ายสาธารณะ (Y) ที่ระดับนัยสำคัญทางสถิติ 0.000 โดยมีค่าสัมประสิทธิ์ภาษีรายได้ เท่ากับ 0.9430 หมายความว่า ภาษีรายได้ เพิ่มขึ้น 1 หน่วย ส่งผลทำให้รายจ่ายสาธารณะ เพิ่มขึ้น 0.9430 หน่วย